.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 130px;
}

.action-column-header {
  flex: 0 0 100px;
}


.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-category.mat-column-category {
  gap: 13px;
  align-items: center;
}
